<%= search_form_for @q, url: locations_path do |f| %>

  <%= f.label :manhã %>
  <%= f.radio_button :schedules_hour_cont, "06h às 12h" %>

  <%= f.label :tarde %>
  <%= f.radio_button :schedules_hour_cont, "12:01h às 18h" %>

  <%= f.label :noite %>
  <%= f.radio_button :schedules_hour_cont, "18:01h às 23h" %>

  <%= f.check_box :opened_eq %>
  <%= f.label :open, "Exibir unidades fechadas" %>

  <%= f.submit %>
<% end %>
<!-- http://localhost:3000/locations?q%5Btitle_or_content_cont%5D=parn&commit=Search -->

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Locations</h1>
    <%= link_to "New location", new_location_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="locations" class="min-w-full">
    <%= render @locations %>
  </div>
</div>
